* {
  margin: 0px;
  padding: 0px;
}

header {
  height: 100px;
  display: flex;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu li {
  display: flex;
  
  height: 60px;
  border: 2px solid white;
  list-style: none;
}

.menu li a {
  display: flex;
  align-items: center;
  font-size: 1em;
  color: white;
}

.title {
  display: flex;
  justify-content: center;
}
